
/* selector universal */
* {
    ;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

body {
    background-color: #dadada;

}


/* selector de elemento */
header {
   background-color: blueviolet;
    margin: 20px 30px 0px 30px;
}


nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.secciontituloprincipal {
    text-align: center;
    margin: 5px 5px;
}

.seccionparrafosheader {
    text-align: end;
    font-size: 14px;
    margin: 10px 15px;
}