body{
    background-color: whitesmoke;
}

.general{
    background-color: whitesmoke;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.textoinferior{
    font-size: 12px;
}

.contimag1{
    width: 400px;
    height: 350px;
    background-color: rgb(207, 207, 207);
    border: solid rgb(207, 207, 207);    
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 70px;
    color: rgb(189, 189, 189);
    display: flex; justify-content: center; align-items: center;
}

.imagen1{
    width: 400px;
    height: 300px;
    align-items: center;
    padding: 15px;
/* 
    border: solid;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px; */
    

}

.cont1 {
    
    width: 25%;
    
}
.cont2 {
   
    width: 25%;
}

.cont3 {
    
    width: 25%;
}

.titimg {
    background-color: white;
    margin-top: 0%;
    width: 406px;
    margin: 15PX;
    border: whitesmoke;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px

}


.cajas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    height: 10%;
    align-items: center;
    vertical-align: center;
    justify-content: center;
}

#inferior {
    background-color: #FFECB3;
    border: solid #FFECB3;
    border-radius: 15px;
    padding: 15px;
    display: flex; justify-content: center; align-items: center;
    width: 70%;
    
}
.baninferior{
   background-color: #FFE082;
   border: solid #FFE082;
   border-radius: 10px;
   padding: 15px;
   text-align: center;
   width: 30%;
    
}

.titulos{
    display: flex;
}

